body{
  text-align: center;
  font-family: 'roboto', sans-serif;
  background: rgb(2,0,36);
}

#backgroundVideo {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  object-fit: cover;
  z-index:-1;
  opacity: .7;
}

.container{
  max-width: 800px;
  margin: 0 auto;
}

h1, h2, h3 {
  font-weight: bolder;
  color: #FFFFFF;
}

p {
  color: #D3D3D3;
}

.profile-text{
  padding: 0.5rem;
}

.profile-img {
  border-radius: 50%;
  width: 30%;
  box-shadow: 1px 1px 5px rgba(173, 216, 230, 0.5);
  margin: 1rem
}

h1{
  font-weight: 900;
  font-size: 2.5rem;
  margin-bottom: 5px;
  letter-spacing: normal;
}

h2{
  margin-top: .15rem;
  font-size: medium;
}

.text-highlight{
  font-weight: bold;
  font-size: 1.25rem;
  text-decoration: underline;
}

.content{
  background: rgba(255,255,255,.12);
  background-blend-mode: screen;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  box-shadow: 3px 3px 15px rgba(150, 147, 155,0.7);
  padding: .5rem 1rem;
  margin: 3rem auto;
}


.button {
  display: inline-block;
  text-decoration: none;
  padding: .5rem .75rem;
  border-radius: 10px;
  background: rgb(255,166,0);
  background: linear-gradient(90deg, rgba(255,166,0,1) 0%, rgba(255,235,0,1) 100%);
  box-shadow: 1px 2px 5px rgba(86, 66, 86, 1);
  border: 1px solid #e12301;
  margin-bottom: 1rem;
  font-weight: bold;
  transition: all 0.3s;
}

.button:hover {
  box-shadow: 1px 1px 10px #FC814A;
  padding: .5rem 1rem;
}

.small-text{
  font-size: 50%;
  color: #77B0AA;
  margin-left: 20px;
}

.tech-stack *{
  color: #43aafe;
  font-size: 3rem;
  padding: 0 .5rem;
}


ul {
  list-style-type: none;
  padding: 1rem 0px;
}

ul li {
  display: inline;
  margin: 0 .5rem;
}

.fa-brands{
  color: #43aafe;
  transition: all 0.3s;
}

.socials .fa-brands:hover{
  color: #5eb6ff;
  font-size: 3.5rem;
}

.memes{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.memes img{
  width: 31%;
  min-width: 200px;
  object-fit: cover;
}

.footer-text{
  opacity: .5;
  margin-top: 3rem;
  display: inline-block;
  color: whitesmoke;
  text-decoration: none;
}

@media (max-width: 700px) {
  .content {
    width: 80%
  }
  .memes{
    flex-direction: column;
    gap: .5rem;
  }

  .memes img{
    width: 100%;
    margin: 1rem 0;
  }
}

.containerMeme{
  max-height: 0;
  opacity: 0;
  transform: scaleY(0);
  transition: all 0.5s;
}

.show{
  max-height: fit-content;
  opacity: 1;
  transform: scaleY(1);
}
